@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #23c5ca;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
}

.mariobros-web {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    margin: 25px 0;
}

#logo {
    width: 300px;
    height: 200px;
    background-image: url('../img/super_mario_logo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
}

h2 {
    color: #ffffff;
}

#gallery, #password {
    border: 5px solid #fff;
    border-radius: 10px;
}

#gallery {
    width: 750px;
    height: 440px;
    background-color: #59ff2f;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    padding: 20px 12px;
}

.stickers {
    display: flex;
    justify-content: space-evenly;
    column-gap: 20px;
}

#sticker1, #sticker2, #sticker3 {
    width: 200px;
    height: 220px;
    background-color: #fff;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#sticker1 {
    background-image: url('../img/mario.jpg');
}
#sticker2 {
    background-image: url('../img/princesa.jpg');
}
#sticker3 {
    background-image: url('../img/yoshi.png');
}

.quantity {
    display: flex;
    justify-content: space-evenly;
    column-gap: 45px;
}

input {
    padding: 4px;
}

#password {
    width: 400px;
    height: 200px;
    background-image: url('../img/sect_password.gif');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

#password select {
    padding: 8px;
    border-radius: 5px;
    margin: 0 8px;
}

#btn-enter, #btn-verification {
    background-color: #1d49db;
    color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}